<!DOCTYPE html>
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block title %} <title>Hotel App | Home</title> {% endblock %}
  <link rel="stylesheet" href="{% static 'hotel/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'hotel/font-awesome/css/font-awesome.min.css' %}">
  {% block style %} <link rel="stylesheet" href="{% static 'hotel/app.css' %}"> {% endblock %}
</head>
<div class="container">
    <div class="jumbotron">
        <h1>Review</h1>
        <form class="review" action="{% url 'review' pk=hotel.id %}" method="post">
            {% csrf_token %}
                <p>Rating: {{ form.rating }}</p>
                <p>Review: {{ form.review }}</p>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form> 
        <p><b> overall rating:{{ avg|floatformat:2 }} </b></p>
        {% for i in b %}
            <p>rating {{ i.rating }}</p>
            <p>komentar: {{ i.review }}</p>
            <p>Posted in: {{ i.date }}</p>
        {% endfor %}
    </div>
</div>